<%- include('partials/header')%>

<style>
    body{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7cih94e_9VXlT4Ixayymd2UiVwBzLVm_6KA&usqp=CAU);
        background-size: cover;
    }
    .about {
	height:6em;
    color: white;
    margin-top: 2%;
}
.about h1{
    text-align: center;
}
.img-responsive{
    opacity:0.8
}
h3{
    text-align: center;
}
</style>


<section class="about">
    <h1>About us</h1>
</section>
<section >
    <div class="container">
        <div class="row">
            <div class="col col-sm-6">
                <img src="https://cdn.pixabay.com/photo/2018/03/10/12/00/teamwork-3213924__480.jpg" class="img-responsive">
            </div>
            <div class=" col col-sm-6" style="background-color:rgba(82, 155, 240, 0.253);height: 25em; color: rgb(216, 203, 17);">
                <h2><span>We provide</span> cars for rent <span>at low price</span></h2>
                <p>
                    No more worries about petrol mileage, fuel costs, insurance, and car breakdowns!My car rental has enabled driving convenience for travellers around the country and is fast expanding its reach to cities including Ahmedabad, Bangalore, Chandigarh, Chennai, Coimbatore, Delhi-NCR, Hyderabad, Jaipur, Kochi, Kolkata, Ludhiana, Mangalore,Bhubaneswar,Cuttack,Berhampur,Khorda, Mumbai, Mysore, Pune, Siliguri and Vizag. 
                   <br>
                   Self drive cars from mycar have given customers more control, privacy, and freedom. Book a self drive car in any city you visit with the Zoomcar app on your phone and feel at home wherever you go. 
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container"> 
        <div class="row">
             <h1>Terms and Conditions</h1>
             <p> By using this Website, You accept the Following Terms & Conditions. This is a legally binding agreement between You and MyCar rental; please read it carefully. When using this Website, You may be subject to other posted terms and guidelines applicable to certain services available on this Website. All terms and guidelines on this Website, including our Privacy Policy, are part of these Terms & Conditions.</p>
               <p>The Milage assigned to the vehicle have some conditions.The road should be clear,no use of clause etc.</p>
               <p>
                <strong>We allow to book the car in current date or 2days more of current date.</strong>
               </p>
        </div>
    </div>
   
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col col-sm-8" >
                
            </div>
            <div class="col col-sm-4" style="color:darkmagenta">
                <h3 >Contact</h3>
                <h4>Email:ajitkumarkhatua286@gmail.com</h4> 
                <h4> Mobile No:+91 6371091440 </h4>
            </div>

        </div>

    </div>
</section>


