<%- include('partials/adminheader')%>


<style>
    body{
        background-image: url(https://cdn2.f-cdn.com/contestentries/1476645/32188263/5c7d1750c9de4_thumb900.jpg);
        background-size: cover;
        color: white;
        }
        .admin{
            text-align: center;
            margin-top: 9%;
            padding: 5px;
        }
        a{
            color: yellow;
        }
</style>




<div class="admin">
    <h1>This is the Admin page </h1>

    <h3>Want to add vehicle</h3>
    <a href="/vehicles/new">CLICK HERE</a>
</div>
